build:
  maxIssues: 0

config:
  validation: true

comments:
  UndocumentedPublicClass:
    active: false
  UndocumentedPublicFunction:
    active: false

style:
  WildcardImport:
    active: false
  MagicNumber:
    active: false

naming:
  FunctionNaming:
    ignoreAnnotated:
      - Composable
